body {
    background-color: #1f2937;
    font-family: sans-serif;
}
.header {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    color: #f9faf8;
}

.headertext {
    align-self: center;
    font-size: 24px;
}

.leftheader img {
    max-width: 50px;
    max-height: 50px;
    align-self: center;
}

.leftheader, .rightheader {
    display: flex;
    gap: 25px;
}

.rightheader ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    flex-wrap: wrap;
}

.leftheader {
    margin-left: 25px;
}

.rightheader {
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

a:hover {
    color: #E5E7EB;
}

.bodyone {
    /* background-color: white; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap-reverse;
    align-items: center;
}

.rightbodyone img {
    max-width: 400px;
    max-height: 300px;
}

.leftbodyone {
    width: 300px;
    margin-bottom: 15px;
}

.bodyheader {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.bodyonetext {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    align-self: center;
    background-color: blue;
    color: #f9faf8;
    border-radius: 50%;
    width: 50px;
}

.maincontainer {
    background-color: #f9faf8;
    width: auto;
}

.bodytwocontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

.bodytwocontainer img {
    max-width: 300px;
    max-height: 300px;
    margin: 25px;
    border-radius: 5%;
}

.bodyheadertwo {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
    padding-top: 15px;
}

.selectiontext {
    text-align: center;
    max-width: 300px;
}

.bodythreecontainer {
    background-color: #e5e7eb;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 25px 50px 25px;
}

.quotetext {
    text-align: center;
    align-self: center;
    max-width: 700px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 200;
}

.authortext {
    max-width: 700px;
    align-self: flex-end;
    font-size: 24px;
}